@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #13405D;
}

.settings-container {
  z-index: 2;
  right: -250px;
  position: fixed;
  width: 305px;
  display: flex;
  padding: calc(vars.$gutter / 2);
  overflow: hidden;
  transition: right .4s vars.$ease-out-back;
  &.settings-container--open {
    right: 0;
    .settings-container__button {
      transform: scale(1) rotate(135deg);
      transition: transform .3s vars.$ease-out-back;
      &:hover {
        transform: scale(1.1) rotate(135deg);
      }
    }
  }
  .settings-container__button {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 10px;
    margin-right: calc(vars.$gutter / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDDCF0;
    transform: scale(1) rotate(0deg);
    transition: transform .3s vars.$ease-out-back;
    &> svg {
      width: 100%;
      fill: #13405D;
    }
    &:hover {
      background-color: #F5F5F5;
      transform: scale(1.1) rotate(0deg);
    }
  }
  .settings-container__pseudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 235px;
    height: 100px;
    padding: .5rem;
    border-radius: 1rem;
    background-color: #fff;
    &_txt {
      font-size: .9rem;
      color: #13405D;
    }
    &_pseudo {
      font-size: 1.1rem;
    }
  }
}

.chat-container {
  position: relative;
  width: 75%;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-color: #BDDCF0;
  display: flex;
  flex-direction: column;
  .msg-container {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-bottom: 4.5rem;
    &::-webkit-scrollbar-thumb {
      width: 10px;
      border-radius: 1rem;
      background-color: #0b0b91;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #5b8daf), color-stop(0.72, #21638b));
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
  }
  .form-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
